body{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}


#logo{
    font-size: 30px;
    font-weight: bold;
}
#aside{
    height: 100vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    background-color: rgb(72, 72, 252);
    color: white;
    
}
#tipoSorteio{
    width: 200px;
    height: 2rem;
    border-radius: 20px;
    border: none;
    

}
#tipoSorteio:focus{
    outline: none;
}


#infoSorteio{
    display: flex;
    flex-direction: column;
    margin-left: 5rem ;
}
#frase{
    font-size: 50px;
}
.divNum{
    display: flex;
    align-items: center;
    max-width: 500px;
    flex-wrap: wrap;
    margin-top: 200px;
}
.containerNum{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0.3rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.num{
    font-size: 20px;
}

@media  only screen and (max-width: 600px) {
    body{
        padding: 0;
        margin: 0;
        display: flex;
        background-color: antiquewhite;
        font-family: 'Roboto', sans-serif;
        flex-direction: column;
    }
    
    
    #logo{
        font-size: 30px;
        font-weight: bold;
    }
    #aside{
        max-height: 30vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        background-color: rgb(72, 72, 252);
        color: white;
        
    }
    #tipoSorteio{
        width: 200px;
        height: 2rem;
        border-radius: 20px;
        border: none;
        
    
    }
    #tipoSorteio:focus{
        outline: none;
    }
    
    
    #infoSorteio{
        display: flex;
        flex-direction: column;
        margin-left: 2rem ;
    }
    #frase{
        font-size: 50px;
    }
    .divNum{
        display: flex;
        align-items: center;
        max-width: 500px;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .containerNum{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: 0.3rem;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .num{
        font-size: 20px;
    }
}
