*{
margin: 0px;
padding: 0;
font-family: roboto, sans-serif;
}
header {
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 30px 0;
    position: relative;
    height: 100vh;
    text-align: center;
}

#header2{
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 30px 0;
    position: relative;
    height: auto;
}

.conteiner-form{
    display: block;
    margin-left: 30px;
    margin-top: 50px;
    color: white;
}
label{
    display: block;
}

input{
    width: 95%;
    height: 30px;
    background-color: rgb(75, 75, 75);
    border-style: none;
    border-radius: 10px;
    color: white;
}

#caixa-grande{

    width: 95%;
    height: 100px;
}
h3{
    font-weight: normal;
}
#black-body{
    background-color: rgb(29, 29, 29);
}


form{
    text-align: left;
    display: block;
}

.conteiner-menu ul{
    list-style: none;
    padding:0;
    margin:0;
    text-align: right;
}

.conteiner-menu ul li{
    display: inline;
    margin-right: 20px;
    font-size: 17px;
    transition: font-size 0.3s, text-shadow 0.3s;

}

#conteiner-icon-list ul{
    list-style: none;
    padding: 0;
    margin: 30px 0px 0px 30px;
    text-align: left;
}

#conteiner-icon-list ul li{
    display: inline;
    margin-right: 20px;
}
#conteiner-icon-list ul li img:hover{
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.594);
}
#conteiner-icon-list ul li img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.conteiner-menu li:hover{
    font-size: 21px; 
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.594);
}


.waves{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#sobremim{
    height: 100vh;
    text-align: center;
    background-color: #003049;
    color: white;
}

.texto-bio{
    text-align: center;
    position: relative;
    top: 6%;
    
}

.texto-bio> h1{
    font-size: 100px;
}

.texto-bio> p{
    max-width: 700px;
    text-align: left;
    margin-left: 20%;
    
}


.texto-bio>#um-pouco-menor{
    font-size: 50px;
    margin-top: 100px;
}

#sobremim .texto-bio figure nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

}
#sobremim .texto-bio figure nav ul img{
    width: 100px;
    height: 120px;
    display: inline;
    margin-right: 20px;
    margin-top: 30px;
}

.sejabemvindo{
    font-size: 50px;
    margin-top: 14%;
}

a{
    text-decoration: none;
    color: white;
}
button{
    border-style: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(45, 45, 45);
    color: white;
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.594);
}
button:active{
    background-color: rgb(87, 87, 87);
}
.conteiner-curso li{
    width: 300px;
    height: 200px;
    margin: 10% 0 0 30%;
    background-color: rgb(45, 45, 45);
    border-radius: 30px;
    text-align: center;
    color: white;
    list-style: none;
    
}

.conteiner-curso p{
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}





