body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#chat{
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    border: 1px solid black;
    min-width: 300px;
    min-height: 300px;
    position: absolute;
    display: none;
    align-items: center;
    align-self: center;
    flex-direction: column;
}
#imputEButton{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    
}

li{
    text-align: right;
    list-style: none;
}

button{
    padding: 5px;
    background-color: mediumseagreen;
    color: white;
    border-style: none;
    border-radius:20px

}
i